@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

// font
$josefin: "Josefin Sans", sans-serif;

//primary
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

// neutral
$darkGrayishRed: hsl(0, 6%, 24%);

// gradients
$whiteGradient: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
$pinkGradient: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: $josefin;
}

.container {
	width: 100vw;
}

.logo {
	margin: 1.5em 1.75em;
	width: 10rem;
}

.landing-page {
	width: 100%;
}

.woman-img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 4.5em 1.75em;

	h1 {
		text-transform: uppercase;
		font-size: 2.5em;
		letter-spacing: 0.25em;
	}

	p {
		color: $desaturatedRed;
		margin-bottom: 1.75em;
		max-width: 35em;
		line-height: 1.5;
	}

	.first-heading {
		font-weight: 300;
		color: $desaturatedRed;
	}

	.second-heading {
		color: $darkGrayishRed;
		margin-bottom: 0.5em;
	}
}

form {
	position: relative;
	width: 100%;
	max-width: 30em;
	margin: 0 auto;

	input[type="text"] {
		width: 100%;
		max-width: 50em;
		padding: 1em 2em;
		color: black;
		border: 1px solid $desaturatedRed;
		border-radius: 25px;
	}

	::placeholder {
		color: $desaturatedRed;
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		padding: 0em 1.75em;
		border-radius: 25px;
		color: white;
		border: 0;
		font-size: 1.25em;
		background-image: linear-gradient($pinkGradient);
		filter: drop-shadow(0px 10px 5px $desaturatedRed);
		cursor: pointer;
	}

	.errorText {
		position: absolute;
		bottom: -45%;
		left: 5%;
		font-size: 0.75em;
		color: $softRed;
		display: none;
	}

	.fa-exclamation-circle {
		position: absolute;
		top: 50%;
		right: 25%;
		transform: translate(0%, -50%);
		color: $softRed;
		font-size: 1.25em;
		display: none;
	}
}
form:active {
	opacity: 0.7;
}

@media (min-width: 1100px) {
	.logo {
		position: absolute;
		margin: 4em 0 0 8rem;
	}
	.landing-page {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}
	.woman-img {
		content: url("./images/hero-desktop.jpg");
		height: 100vh;
		width: auto;
		max-width: 610px;
	}

	.content-container {
		align-items: flex-start;
		text-align: left;
		margin: 0;
		width: 100%;
		height: 100%;
		padding-left: 8rem;
		background-image: url("./images/bg-pattern-desktop.svg");
		background-size: cover;
		background-repeat: no-repeat;

		h1 {
			font-size: 4rem;
			max-width: 6em;
		}

		p {
			max-width: 27em;
		}
	}

	form {
		position: relative;
		margin: 0 0;

		input[type="text"] {
			padding: 1em 2em;
		}

		button {
			padding: 0em 1.75em;
		}
	}
}

@media (min-width: 1100px) and (min-height: 700px) {
	.woman-img {
		object-position: 20%;
	}
}
